{
  "repositoryUrl": "git@github.com:dyne/slangroom-exec.git",
  "dryRun": false,
  "plugins": [
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          { "type": "build", "scope": "deps", "release": "patch" },
          { "type": "build", "scope": "deps-dev", "release": "patch" }
        ]
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": true
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json"
        ],
        "message": "chore(release): 🚀 ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "make all && make archive"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "slangroom-exec-darwin-x64", "name": "slangroom-exec-Darwin-x86_64" },
          { "path": "slangroom-exec-darwin-arm64", "name": "slangroom-exec-Darwin-arm64" },
          { "path": "slangroom-exec-linux-x64", "name": "slangroom-exec-Linux-x86_64" },
          { "path": "slangroom-exec-linux-arm64", "name": "slangroom-exec-Linux-arm64" },
          { "path": "slangroom-exec-linux-aarch64", "name": "slangroom-exec-Linux-aarch64" },
          { "path": "slangroom-exec-windows-x64.exe", "name": "slangroom-exec-Windows-x86_64.exe" },
          { "path": "src/slexfe", "name": "slexfe" },
          { "path": "slangroom-exec.tar.gz", "name": "slangroom-exec.tar.gz" }
        ]
      }
    ]
  ],
  "branches": [
    "main"
  ]
}
